# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Vite
.vite/

# Local env files
.env
.env.*.local

# VS Code
.vscode/

# Optional: OS or IDE-specific
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Tailwind
*.css.map
